* {
  box-sizing: border-box;
}
.timer-stuff {
  align-content: center;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 auto;
}
.widgets {

  font-family: "Space Mono", monospace;
  text-align:center;
  font-weight:700;
  background-color:#f7b7cb;
  padding:2em;
  border-radius: 2em;
  margin: 3em 25%;
  opacity: 0.8;

}
.timer{
  padding:2em;
  background-color:#ffcfde;
  border-radius:2em;
  margin-left:7em;
  margin-right:7em;
  font-family: "Space Mono", monospace;
  text-align:center;
  font-weight:700;

}
 .pomodoro {
  padding:0rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:21rem;
  height:21rem;
  position:relative;
  margin: 2rem auto;
  border-radius: 50%;
  background:#ffffff;
  content:"";
  border-radius:50%;
  font-size: 40px


  

}
.pomodoro::before {
  content:"";
  position:absolute;
  border:10px solid #8e3a55;
  border-radius:50%;
  width: 19rem;
  height:19rem;
  align-content: center;
  align-self:center;
  text-align: center;
}
.pomo-buttons {
  background-color:#ffedf3;
  outline-color: #8e3a55;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
  color:#8e3a55;
}
.pomo-buttons:hover {
  background-color:#ffffff;
}

img {
  width: 100%;
  border-color:#8e3a55;
}
p {
  font-family: "Space Mono", monospace;
  font-size: 15px;
  text-align: center;
  padding: 1em;
  color:rgb(138, 12, 85);
  font-weight:500;
}

ul {
  list-style-type: none;
  background-color: #f7b7cb;
  overflow: hidden;
  padding: 1em;
  text-align: center;
}
li a {
    text-decoration:none;
    color:rgb(78, 13, 71);
    display: inline;
    padding:1em;
    font-family: "Space Mono", monospace;
}
li a:hover {
  background-color: rgb(255, 207, 232);
}
li {
    text-decoration:none;
    color:rgb(78,13,71);
    display: inline;
    padding:1em;
    font-family: "Space Mono", monospace;



.cal {
  font-family: "Space Mono", monospace;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  user-select: none;
  -webkit-app-region: drag;
}



button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  font-size:100px;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

/* timer stuff */
@media screen and (min-width: 32px) and (max-width: 600px) {
  .pomodoro {
    transform: scale(.9);
  }

  .timer {
    width: 500px;
  }
  

}